.explore-page {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  color: #151515;;
}

.explore-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #e62429; 
}

.search-bar {
  width: 100%;
  max-width: 600px;
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
}

.search-bar input {
  padding: 10px;
  margin-right: 10px;
  background-color: #fff;
  border: 2px solid #c6a972;
  border-radius: 5px;
  font-size: 1rem;
  width: 85%;
  color: #151515;
}

.search-buttons {
  margin: 10px;
  display: flex;
  gap: 10px;
  color: #fff; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.search-bar button:hover {
  background-color: #c6a972; 
  color: #151515; 
}

.search-wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-wrapper input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.suggestion-list {
  position: absolute;
  top: 100%; /* Places it just below the input */
  left: 0;
  right: 0;
  background-color: white;
  color: black;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 999;
}

.suggestion-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestion-list li:hover {
  background-color: #f0f0f0;
}

.comic-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  gap: 20px; 
}

.comic-count {
  text-align: center;
  font-size: 16px;
  color: #151515;
  margin: 10px 0;
}



.pagination{
  gap: 10px;
}

.exploreBtn{
  padding: 10px;
  margin: 10px 25px 50px 25px;
}

.loading{
  color:#c6a972;
}