#root{
  width: 100vw;
  background-color: #fff;
}

body {
  margin-top: 60px;
  width: 100%;
  min-height: 100vh; 
  font-family: Arial, sans-serif;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  height: auto !important;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 0px;
  color: #e62429;
}
.login-p{
  color:black;
}
#login-div{
  display: flex;
  min-height: 100vh; 
  flex-direction: column;
  align-items: center;
}

#login-header{
 align-self: center;
}
#login-text{
  color:#151515;
}
.googleLogIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}