.home-page {
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    color: #151515;;
    box-sizing: border-box;
}

.home-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #e62429; 
}
