body {
    font-family: Arial, sans-serif;
    margin-top: 60px;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #151515;
    overflow-x: hidden;
  }
  
  .profile-page {
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    color: #151515;
    box-sizing: border-box;
  }
  
  .profile-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #e62429;
  }
  
  .profile-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
  }
  
  .profile-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #e62429;
  }
  
  .profile-container p {
    font-size: 1rem;
    color: #151515;
    margin-bottom: 15px;
  }
  
  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #c6a972;
    margin-bottom: 15px;
  }
  
  .profile-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c6a972;
    background-color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    color: #151515;
  }
  
  .profile-input::placeholder {
    color: #151515;
  }
  .profile-container div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .edit-profile-btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e62429;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-profile-btn:hover {
    background-color: #c6a972;
    color: #151515;
  }
  